h1 {
  font-family: SourceSerifPro;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -1.8px;
}

h2 {
  font-family: SourceSerifPro;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -1.1px;
}

h3 {
  font-family: SourceSerifPro;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -0.7px;
}

.body-text {
  font-family: SourceSerifPro;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: -0.6px;
}

.sub-title {
  font-family: SourceSerifPro;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: -0.4px;
}