html {
    background: rgb(234,234,242);
    background: linear-gradient(90deg, rgba(234,234,242,1) 0%, rgba(209,222,224,1) 48%, rgba(238,238,240,1) 98%);
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.space-berween {
    justify-content: space-between;
}

.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: bold;
}

.container {
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
}